@tailwind base;
@tailwind components;
@tailwind utilities;


.dots {
  padding: 250px 600px;
  justify-content: center;
  display: flex;
  position: absolute;
}

.dot {
  border: none;
  width: 8px;
  height: 8px;
  background: #c5c5c5;
  border-radius: 50%;
  margin: 0 5px;
  padding: 5px;
  cursor: pointer;
}

.dot:focus {
  outline: none;
}

.dot.active {
  background: #fff;
}

.circle-card-zoom {
  @apply relative items-center justify-center overflow-hidden shadow-xl w-28 h-28 rounded-full m-5;
}

.circle-card-zoom-image {
  @apply absolute w-28 h-28 transition-all items-center justify-center  duration-500 ease-in-out transform bg-center bg-cover rounded-full;
}

.circle-card-zoom:hover .circle-card-zoom-image {
  @apply scale-150;
}

